<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-searchbar class="searchbar" showCancelButton="focus" showCancelButton="never" inputmode="search"
      animated="true" debounce="500" placeholder="Search"></ion-searchbar>
    <ion-row class="ion-align-items-end">
      <ion-col>
        <ion-select value="" interface="popover" placeholder="Type">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option *ngFor="let item of types | async; trackBy:item" [value]="item.type">{{item.type}}
          </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col>
        <ion-select value="" interface="popover" placeholder="Genre">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option *ngFor="let item of genres | async; trackBy:item" [value]="item.genre">{{item.genre}}
          </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col>
        <ion-select value="" interface="popover" placeholder="Rating">
          <ion-select-option value="0">All</ion-select-option>
          <ion-select-option *ngFor="let rating of ratings; trackBy:rating" [value]="rating">{{rating + "+"}}</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col>
        <ion-select value="" interface="popover" placeholder="Year">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option value="brown">Brown</ion-select-option>
          <ion-select-option value="blonde">Blonde</ion-select-option>
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="red">Red</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let data of imdbData" size-sm="6" size-md="4" size-lg="3" size-xs="12">
        <app-image-video-card [videoFile]="videoFile"></app-image-video-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>